/* para probar estilos css
*/

h1{
    color: blue;
}
h2 {
    color: yellow;
    background-color: cornflowerblue;
}
h3{
    color: green;
}
.pie {
    background-color: darkblue;
    color: white;
}